<div id="openHours">
    <h3>Öppettider @ViewData["ort"]</h3>
    <p>Måndag-Torsdag<br /><span>17-23</span></p>
    <p>Fredag och Lördag<br /><span>17-03</span></p>
    <p>Söndag<br /><span>Stängt</span></p>
</div>
